*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ffffff;
}
#header {
    position: fixed;
    height: 80px;
    background-color: #ece9e9;
    font-size: 1.2rem;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 32px;
}
.wrap{
    display: flex;
    margin-left: -40px;
}
#nav{
    display: flex;
}


#header .logo img{
    height: 6rem;
}
#header .logo{
    display: flex;
    margin-top: -11px;
}

#nav li{
    list-style-type: none;
}

#nav li a {
    color: black;
    line-height: 5rem;
    padding: 0px 3rem;
    display: block;
    font-size: 1.5rem;
    
}  
#nav > li:hover > a{
    color: blue;
    background-color: #aaa3a3;
    border-bottom: blue solid 3px;
    font-weight: 700;
}

#bignav{
    padding-left: 50px;
    display: block;
}
#header #nav  li :hover{
    background: lightgray;
}

/* Phần search */
#header .search{
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    padding: 0;  
    width: 370px;
}

#header .search1{
    display: flex;
    padding: 0;    
    width: 370px;
    height: 500px;
    background: #f0efef;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}
#search-box{
    background-color: #ffffff;
    margin-left: 2rem;
    border-radius: 20px;
    width: 300px;
    border: 0.5px solid rgba(0, 0, 0, 0.5 );
    margin-top: 23px;
}
#search-box .search-input{
    width: 250px;
    outline: none;
    border: none ;
    background: none;
    padding: 7px 15px;
    font-size: 16px;
}

#search-box .search-btn{
    background-color: #fff;
    border: none;
    padding: 9.2px 10px;
    cursor: pointer;
    border-radius: 50%;
}
.course{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}
.course img{
    width: 70px;
    height: 70px;
    object-fit: fill;
    border-radius: 5px;
}
.course-list{
    padding: 20px 0;
    display: none;
}
.course .detail{
    padding-left: 15px;
    line-height: 30px;
}
.course .detail a{
    text-decoration: none;
}
.course:hover{
    background-color: lightblue;
}
.course .detail h2{
    font-size: 20px;
    color: #1d1d1d;
}
.course .detail h3{
    font-size: 18px;
    color: #1d1d1d;
}

#nav-action{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}
#nav-action .login-a{
    font-size: 14px;
    border-radius: 999px;
    background-color: rgb(255, 104, 22);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 9px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#nav-action a{
    text-decoration: none;
}
#nav-action .logout-a{
    width: 115px;
    height: 35px;
    font-size: 14px;
    border-radius: 999px;
    background-color: rgb(255, 104, 22);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 9px 20px;
}
/* Phần slider */
#slider .prev{
    left: 10px;
}
#slider .next{
    right: 10px;
}
#slider .control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #40D3DC;
}
#slider{
    position: relative;
    width: 800px;
    max-width: 100%;
    height: 300px;
    margin: 100px auto;
    border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 300px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 800px;
    height: 300px;
}
/* css chạy cơm */
.navigation-manual{
    position: absolute;
    width: 800px;
    max-width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
/* css navigation tự động */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    max-width: 100%;
    justify-content: center;
    margin-top: 260px;
}
.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}







/* Phần nội dung */

#content{
    box-sizing: inherit;
    width: 80%;
    overflow: hidden;
    background-color: #fff;
    margin: 0 auto;
    padding: 0 22px 55px;
}
#top-content .headd{
    background-color: #fff;
    align-items: baseline;
    display: flex;
    height: 36px;
    font-size: 24px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


#top-content .headd .plus{  
    padding: 3px 6px;
    background-color: #0e66d2;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    right: -8px;
    top: -6px;
}
.forums{
    display: flex;
    flex-wrap: wrap;
}
.small-forums{
    width: 30%;
    margin: 10px 12px;
    border-radius: 16px ;
    background-color: #e7e7e7;
    border: 1px solid rgb(187, 187, 187);
    transition:box-shadow 0.5s;
    transition:transform 0.5s;
}
.ele-for{
    overflow: unset;
    position: relative;
    margin-bottom: 2rem;
}

.small-forums:hover{
    box-shadow: 0px 0px 10px 5px rgb(129, 129, 129);
    transform: scale(1.05);

}

.ele-for .BTN-for{
    background-color: #fff;
    border-color: #fff;
    color: #000;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: all .3s ease 0s;
    visibility: hidden;
    z-index: 1;
}
.ele-for .img-for{
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}
.ele-for .href{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: block;
    object-fit: cover;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}
.ele-for h3{
    margin: 12px 0 0 5px;
}
.a-deco{
    color: #000;
    text-decoration: none;
}

.head-Status{
    display: flex;
    align-items: baseline;
}
.head-Status>.headd{
    margin-right: auto;
}
.head-Status>a{
    text-decoration: none;
    font-size: 14px;
    padding: 8px 4px;
}
.head-Status>a:hover{
    text-decoration: dashed;
    color: #000;
    background-color: rgb(255, 104, 22);
}




#gTTop{
    display: none;
    position: fixed;
    font-size: 20px;
    right: 30px;
    bottom: 40px;
    z-index: 1;
}
#gTTop a{
    text-decoration: none;
    background-color: rgba(248, 84, 56, 0.2);
    color: rgb(32, 177, 225);
    padding: 18.8px 20px;
}
#gTTop a:hover{
    box-shadow: 0px 0px 10px 5px rgb(129, 129, 129);
}




@keyframes slideLeft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
/*Phan footer*/
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

.grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid-col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
.grid-col-4-0{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
#footer{
    min-height: 150px;
    padding:30px 0px 20px 30px ;
    background-color: black; 
    margin-top: 10px;
    position: relative;
    top: 10px;
    width: 100%;
    font-size: 16px;
}
#footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer li{
    list-style-type: none;

}
#footer a{
    text-decoration: none;
    color: #a9b3bb;
}
#footer .footer-list{
    margin-top: 10px;
}

#footer .footer-list-item {
    color: #a9b3bb;
    font-size: 1rem;
    line-height: 2.1rem;
    position: relative;
}
#footer .heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
}