*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

#slider .list-i .active{
    background-color: rgb(52, 212, 224);
    padding: 4px;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 80px;
    background-color: #ece9e9;
    z-index: 1;
    display: flex;
    margin: auto;
}
#nav{
    display: inline-block;
}

#nav > li > a{
    text-transform: uppercase;
    color: #000;
}



#nav > li{
    display: inline-block;
}

#header .logo img{
    height: 5rem;
    align-items:  center;
}
#header .logo{
    float: left;
}

#nav li{
    position: relative;
    list-style-type: none;
}

#nav li a {
    text-decoration: none;
    line-height: 5rem;
    padding: 0px 2rem;
    font: arial;
    display: block;
    font-weight: 5000;
    font-size: 1.1rem;
}  
#nav > li:hover > a{
    color: blue;
    background-color: #aaa3a3;
    border-bottom: blue solid 3px;
    font-weight: 700;
}

#header #bignav{
    display: block;
 
}
#header #nav  li :hover{
    background: lightgray;
}
#header .search{
    margin-top: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}
#search-box{
    background-color: #fff;
    width: 400px;
    margin-left: 1rem;
    border-radius: 20px;
    width: 300px;
}
#search-box .search-input{
    width: 250px;
    border: none;
    outline: none;
    background: none;
    padding: 7px 15px;
    font-size: 16px;
}

#search-box .search-btn{
    background-color: #fff;
    border: none;
    padding: 9.2px 10px;
    cursor: pointer;
    border-radius: 50%;
}

#slider{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 450px;
    width: 80%;
    margin: 80px auto 50px auto;
    background-color: #fff;
    box-sizing: border-box;
}
#slide{
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 30px;
    width: 86%;
    height: 350px;
    margin: 0 auto;
}

#slider .control{
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    top: 50%;
    font-size: 30px;
    color: #fff
}
#slider .next{
    right: 10px
    
}
#slider .prev{
    left: 10px;
}
#slide img{
    border-radius: 30px;
    width: 100%;
    height: 75%;
}

#slider .list-i{
    width: 80%;
    height: 20%;
    display: flex;
}
#slider .list-i img{
    padding: 10px;
}

#content{
    height: 1000px;
}
