/* PC */
@media (min-width: 1024px ){
    
}


/* tablet */
@media (min-width: 740px ) and (max-width: 1024px) {
    #content{
        width: 100%;
    }
    .small-forums{
        margin: 8px 8px
    }
    #search-box{
        width: 200px;
    }
    #search-box .search-input{
        width: 150px;
    }
    #bignav{
        padding-left: 10px;
    }
    #nav li a {
        padding: 0 2rem;
    }
    #gTTop a{
        font-size: 16px;
        padding: 14px 18px;
    }

}
/* MB */
@media (max-width: 740px ){
    #header{
        display: block;
    }
    .cont{
        overflow-x: scroll;
    }
    .search{
        margin-left: -30px;
    }
    #search-box{
        width: 180px;
        margin-left: -8px;
    }
    #search-box .search-input{
        width: 90px;
    }
    .search-btn{
        margin-left: 40px;
    }
    #bignav{
        background-color: #ece9e9;
    }
    #nav-action{
        right: 5px;
        top: 26px;
        position: absolute;
    }
    #nav-action .login-a{
        padding: 10px;
        font-size: 11px;
    }
    .forums{
        width: 1200px;
        display: flex;
        flex-wrap: nowrap;
    }
    #content{
        width: 100%;
    }
    .small-forums{
        margin: 8px 8px
    }

    #bignav{
        padding-left: 5px;
    }
    #nav li a {
        padding: 0 1.5rem;
    }
    #gTTop a{
        font-size: 16px;
        padding: 14px 18px;
    }
}
