/* PC */
@media (min-width: 1120px ){
    #header{
        justify-content: space-between;
    }
}


/* tablet */
@media (min-width: 740px ) and (max-width: 1120px) {
    #content{
        width: 90%;
    }
    .small-forums{
        width: 45%;
        margin: 8px 8px
    }
    #header .search{
        width: 230px;
    }
    #header #search-box{
        width: 200px;
    }
    #search-box .search-input{
        width: 150px;
    }
    #bignav{
        padding-left: 10px;
    }
    #nav li a {
        padding: 0 1.7rem;
    }
    #slider{
        width: 740px;
        margin: 100px auto 50px
    }
    #gTTop a{
        font-size: 16px;
        padding: 14px 18px;
    }

}
/* MB */
@media (max-width: 740px ){
    #header{
        display: block;
    }
    #search-box{
        width: 180px;
        margin-left: -8px;
        height: 30px;
        position: relative;
    }
    #header .logo img {
        height: 90px;
    }
    #search-box .search-input{
        width: 100px;
    }
    #search-box .search-btn{
        position: absolute;
        top: 8px;
        margin-left: 50px;
        padding: 0;
    }
    #bignav{
        background-color: #ece9e9;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    #nav-action{
        right: 7px;
        top: 24.5px;
        position: absolute;
    }
    #nav-action .login-a{
        padding: 8px;
        font-size: 10px;
    }

    #header .search1{
        width: 210px;
        height: 300px;
        z-index: 999;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #search-box{
        margin-left: 15px;
    }
    .course img{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    .course .detail{
        line-height: 20px;
    }
    .course .detail h2{
        font-size: 16px;
        color: #1d1d1d;
    }
    .course .detail h3{
        font-size: 12px;
        color: #1d1d1d;
    }
    
    .cont{
        overflow-x: scroll;
    }
    .forums{
        width: 800px;
        display: flex;
        flex-wrap: nowrap;
    }
    .nor .forums{
        width: 1000px;
    }
    #json-status{
        width: 1200px !important;
    }
    #content{
        width: 100%;
    }
    .small-forums{
        margin: 8px 8px
    }
    #top-content .headd{
        margin-left: 15px;
    }
    #bignav{
        position: fixed;
        top: 75px;
        left: 0;
        right: 0;
        padding-left: 5px;
    }
    #nav{
        justify-content: space-around;
    }
    .slides{
        height: 100px;
    }
    #slider{
        margin: 165px auto 50px;
        height: 130px;
        width: 80%;
    }
    .slide img{
        width: 100%;
        height: 130px;
    }
    .navigation-auto {
        margin-top: 100px; 
    }
    .navigation-manual{
          margin-top: 0px;
    }
    .head-Status>a{
        display: none;
    }
    #nav li a {
        padding: 0 1rem;
    }
    #gTTop a{
        font-size: 16px;
        padding: 14px 18px;
    }
    .mid{
        display: none;
    }
    .grid-col-4-0{
        width: 100%;
    }
    .grid-row{
       display: block;
    }
    #footer .heading {
        font-size: 1.2rem;
    }
    #footer .footer-list-item {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #footer .footer-list {
        padding-right: 10px;
    }
}
