#header .search{
    width: 35%;
}

#header #bignav{
    margin-left: 5%;
    padding-left: 0px;
}
#content .forums{
    width: 72%;
}

#content .forums .sml{
    padding: 0 64px 44px 0;
}
.wrap-1{
    border: 2px solid #ece9e9;
    border-radius: 16px;
    margin-top: 15px;
    padding: 24px;
    display: flex;
}
.left{
    margin-right: 30px;
}
.left>img{
    height: 180px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;

}
.right a{
    text-decoration: none;
    color: #000;
}
.right p{
    margin-top: 20px;
    color: #292726;
}

.fixed{
    position: fixed;
}

#content .ADS{
    width: 23%;
    position: fixed;
    right: 10%;
}
#content .ADSm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 100%;
    border: 2px solid #292726;
    border-radius: 10px;
}
#content .ADSm img{
    height: 30px;
}