*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    position: sticky;
    height: 80px;
    background-color: #ece9e9;
    font-size: 1.2rem;
    z-index: 1;
    display: flex;
    flex: 1 1;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.margin-sec{
    margin-left: -12px;
    margin-right: -12px;
}
.active{
    border-bottom: 5px solid #53cdf9;
}
#nav{
    display: flex;
}


#header .logo img{
    height: 4rem;
}
#header .logo{
  display: flex;
    margin-top: 0;
}

#nav li{
    list-style-type: none;
}

#nav li a {
    color: black;
    line-height: 5rem;
    padding: 0px 3rem;
    display: block;
    font-size: 1.5rem;
}  
#nav > li:hover > a{
    color: blue;
    background-color: #aaa3a3;
    border-bottom: blue solid 3px;
    font-weight: 700;
}
#header #bignav{
    margin-left: 450px;
    display: block;
}
#header #bignav{
    display: block;
}
#header #nav  li :hover{
    background: lightgray;
}
#header .search{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

#nav-action{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex: 1 1;
}
#nav-action .login-a{
    width: 115px;
    height: 35px;
    font-size: 14px;
    border-radius: 999px;
    background-color: rgb(255, 104, 22);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 9px 20px;
}
#nav-action a{
    text-decoration: none;
}
.ABC{
    margin: 0 auto;
    box-sizing: inherit;
}
#content{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
#content .content-top{
    margin-bottom: 40px;
}
#content .content-top>h1{
    margin: 20px 0px;
    font-size: 2.5rem;

}
#content .content-top>p{
    font-size: 15px;
}
#content .content-bottom{
    width: 100%;
}   
/*Phần nội dung */


#gTTop{
    display: none;
    position: fixed;
    font-size: 20px;
    right: 30px;
    bottom: 40px;
    z-index: 1;
}
#gTTop a{
    text-decoration: none;
    background-color: rgba(248, 84, 56, 0.8);
    color: rgb(32, 177, 225);
    padding: 18.8px 20px;
}
#gTTop a:hover{
    box-shadow: 0px 0px 10px 5px rgb(129, 129, 129);
}


/*footer*/
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-row{
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.grid-col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}
.grid-col-4-0{
    padding-left: 5px;
    padding-right: 5px;
    width: 33%;
}
#footer{
    min-height: 150px;
    padding:30px 20px 20px 20px ;
    background-color: black; 
    margin-top: 100px;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 10;
}
#footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer li{
    list-style-type: none;

}
#footer a{
    text-decoration: none;
    color: #a9b3bb;
}
#footer .footer-list{
    margin-top: 10px;
}

#footer .footer-list-item {
    color: #a9b3bb;
    font-size: 1rem;
    line-height: 2.1rem;
    position: relative;
}
#footer .heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
}