/* PC */
@media (min-width: 1120px ){
    #content .content-top>h1 {
        font-size: 2.4rem;
        font-weight: 700;
    }
    #content .content-top>div {
        font-size: 1.8rem;
        font-weight: 500;
    }
}


/* tablet */
@media (min-width: 740px ) and (max-width: 1120px) {
    #content{
        width: 85%;
    }
    .small-forums{
        width: 45%;
        margin: 8px 15px
        
    }
    .cont{
        width: 103%;
    }
    .wrap-1{
        flex-wrap: wrap;
    }
    #header .search{
        width: 300px;
    }
    #header .logo img{
        height: 4rem;
    }
    #header #search-box{
        width: 200px;
    }
    #search-box .search-input{
        width: 150px;
    }
    #bignav{
        padding-left: 10px;
    }
    .wrap{
        flex-wrap: wrap;
    }
    #nav li a {
        padding: 0 1.5rem;
    }
    #content .content-top>h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    #content .content-top>div {
        font-size: 1.5rem;
        font-weight: 500;
    }
    .ele-for{
        margin-bottom: 1rem;
    }
}
/* MB */
@media (max-width: 740px ){
    #header{
        display: flex;
    }
    #header #bignav{
        margin-left: 0px;
    }
    .search{
        margin-left: -38px;
    }
    #header #search-box{
        width: 170px;
        margin-left: -3px;
        height: 30px;
        position: relative;
    }
    #header .logo img {
        height: 70px;
    }
    #search-box .search-input{
        width: 145px;
    }
    #search-box .search-btn{
        position: absolute;
        top: 8px;
        padding: 0;
    }
    #nav li a {
        padding: 0 1rem;
    }
    #bignav{
        background-color: #ece9e9;
        border-top: 1px solid rgba(0, 0, 0, 0.2); 
        position: fixed;
        top: 75px;
        left: 0;
        right: 0;
        padding-left: 0px;
    }
    #nav-action{
        right: 7px;
        top: 26px;
        position: absolute;
    }
    #nav-action .login-a{
        padding: 8px 10px;
        font-size: 10px;
    }
    #nav{
        justify-content: space-around;
    }
    #content{
        margin-top: 180px;
    }
    #content .content-top>h1 {
        font-size: 2rem;
        font-weight: 700;
    }
    #content .content-top>div {
        font-size: 1rem;
        font-weight: 500;
    }
    .content-top p{
        line-height: 25px;
        margin: 6px 0;
    }
    #nav li a{
        padding: 0px 10px;
    }
    .cont{
        overflow-x: scroll;
    }
    .forums{
       flex-wrap: nowrap;
       width: 1200px;
    }
    .nor .forums {
        width: 1350px;
    }
    .wrap-1{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        font-size: 12px;
    }

    .right p{
        display: none;
    }
    .left img{
        max-width: 100%;
    }
    #footer{
        width: 98%;
        padding: 1%;
        margin-top: 50px;
    }
    .grid-row{
        display: block;
    }
    .grid-col-4-0{
        width: 100%;
    }
    #content{
        width: 95%;
    }
    #footer .footer-list-item {
        font-size: 0.8rem;
        line-height: 1.2rem;
    }
    #footer .heading{
        font-size: 1.4rem;
    }
}
