/* tablet */
@media (min-width: 740px ) and (max-width: 1120px) {
    #content{
        width: 80%;
    }
    .small-forums{
        margin: 8px 8px
    }
    #header .search{
        width: 230px;
    }
    #header #search-box{
        width: 200px;
    }
    #search-box .search-input{
        width: 150px;
    }
    #bignav{
        padding-left: 10px;
    }
    #nav li a {
        padding: 0 2rem;
    }
}


/* MB */
@media (max-width: 740px ){
    #header{
        display: block;
    }
    #search-box{
        width: 225px;
        margin-left: -8px;
        height: 30px;
        position: relative;
    }
    #header .logo img {
        height: 90px;
    }
    #search-box .search-input{
        width: 165px;
    }
    #search-box .search-btn{
        position: absolute;
        top: 8px;
        margin-left: 35px;
        padding: 0;
    }
    #bignav{
        background-color: #ece9e9;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    #nav-action{
        right: 7px;
        top: 26px;
        position: absolute;
    }
    #nav-action .login-a{
        padding: 8px;
        font-size: 10px;
    }
    .main-menu >li.has-child::after {
        padding: 10px 0;
    }
    #header .search1{
        z-index: 999;
        position: relative;
        width: 210px;
        height: 300px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    #search-box{
        margin-left: 15px;
    }
    .course img{
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    .course .detail{
        line-height: 20px;
    }
    .course .detail h2{
        font-size: 16px;
        color: #1d1d1d;
    }
    .course .detail h3{
        font-size: 12px;
        color: #1d1d1d;
    }
   div.subject{
    display: block;
   }
   .subject .image {
    margin: 10px;
   }
   .sign-up{
    width: 80%;
   }
   .wrap-1{
    display: block;
   }

    #bignav{
        position: fixed;
        top: 75px;
        left: 0;
        right: 0;
        padding-left: 5px;
    }
    #nav{
        justify-content: space-around;
    }
   
    #nav li a {
        padding: 0 1rem;
    }

   
    div.content-bottom > div {
        margin-top: 40px;
    }
    div.content-top img {
        height: 100px;
        margin-top: 160px;
    }
    div.content-bottom .image {
        width: 95%;
    }
    .image h1{
        text-align: center;
    }
    .content-bottom p {
        text-align: center;
    }
    .row{
        display: block;
        overflow: hidden;
    }
    .col-lg-6 {
        width: 100%;
    }
    .event-image img {
        width: 95%;
    }
    .tab-content .contents {
        width: 95%;
    }
    section div.section-title .section-img {
        width: 60%;
    }
    .contents .content-sub {
        display: block;
    }
    .three, .one {
        margin-top: 0;
        margin-right: 0;
    }
    .col-lg-20 {
        width: 95%;
    }
    div.menu ul {
        font-size: 12px;
    }
    div.menu li > a {
        padding: 8px 20px;
    }
    .main-menu > li > a::before{
        margin-left: -10px;
    }
    .main-menu > li:hover > a::before{
        width: 80%;
    }
    .menu ul.sub-menu{
        width: 100px;
        padding: 5px 0;
    }
    .menu ul.sub-menu ul.sub-menu {
        left: 100px;
    }
    .menu li > ul.sub-menu li:last-child > a {
        margin-right: 5px;
    }
    #gTTop a{
        font-size: 16px;
        padding: 14px 18px;
    }
    #gTTop {
    right: 30px;
    }
    .mid{
        display: none;
    }
    .grid-col-4-0{
        width: 100%;
    }
    .grid-row{
       display: block;
    }
    #footer .heading {
        font-size: 1.2rem;
    }
    #footer .footer-list-item {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #footer .footer-list {
        padding-right: 10px;
    }
}
@media (max-width: 430px ){
    #search-box{
        width: 160px;
        margin-left: -8px;
        height: 30px;
        position: relative;
    }
    #header .logo img {
        margin-top: 14px;
        margin-right: 10px;
        height: 65px;
    }
    #search-box .search-input{
        width: 100px;
    }
    #search-box .search-btn{
        position: absolute;
        top: 8px;
        margin-left: 30px;
        padding: 0;
    }
}