*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ffffff;
}
#header {
    position: fixed;
    height: 80px;
    background-color: #ece9e9;
    font-size: 1.2rem;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 32px;
}
.wrap{
    display: flex;
    margin-left: -40px;
}
#nav{
    display: flex;
}


#header .logo img{
    height: 6rem;
}
#header .logo{
    display: flex;
    margin-top: -11px;
}

#nav li{
    list-style-type: none;
}

#nav li a {
    color: black;
    line-height: 5rem;
    padding: 0px 3rem;
    display: block;
    font-size: 1.5rem;
    
}  
#nav > li:hover > a{
    color: blue;
    background-color: #aaa3a3;
    border-bottom: blue solid 3px;
    font-weight: 700;
}

#bignav{
    padding-left: 50px;
    display: block;
}
#header #nav  li :hover{
    background: lightgray;
}

/* Phần search */
#header .search{
    display: flex;
    cursor: pointer;
    align-items: flex-start;
    padding: 0;  
    width: 370px;
    z-index: 999;
    position: relative;
}

#header .search1{
    display: flex;
    padding: 0;    
    width: 370px;
    height: 500px;
    background: #f0efef;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    z-index: 999;
    position: relative;
}
#search-box{
    background-color: #ffffff;
    margin-left: 2rem;
    border-radius: 20px;
    width: 300px;
    border: 0.5px solid rgba(0, 0, 0, 0.5 );
    margin-top: 23px;
}
#search-box .search-input{
    width: 250px;
    outline: none;
    border: none ;
    background: none;
    padding: 7px 15px;
    font-size: 16px;
}

#search-box .search-btn{
    background-color: #fff;
    border: none;
    padding: 9.2px 10px;
    cursor: pointer;
    border-radius: 50%;
}
.course{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px;
}
.course img{
    width: 70px;
    height: 70px;
    object-fit: fill;
    border-radius: 5px;
}
.course-list{
    padding: 20px 0;
    display: none;
}
.course .detail{
    padding-left: 15px;
    line-height: 30px;
}
.course .detail a{
    text-decoration: none;
}
.course:hover{
    background-color: lightblue;
}
.course .detail h2{
    font-size: 20px;
    color: #1d1d1d;
}
.course .detail h3{
    font-size: 18px;
    color: #1d1d1d;
}

#nav-action{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
#nav-action .login-a{
    font-size: 14px;
    border-radius: 999px;
    background-color: rgb(255, 104, 22);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 9px 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
#nav-action a{
    text-decoration: none;
}

/*Phần nội dung */
section{
    max-height: 5000px;
}
div.content-top   {
    width: 100%;
    margin: 10px auto;
}
div.content-top img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top:  70px;
}
div.menu{
      position: relative;
      top: 0;
      left: 0;
      right: 0;
}
div.menu ul{
    display: flex;
    justify-content: space-around;
    background-color: #e1dddb;
    box-shadow: 0px 3px 3px 1px rgb(129, 129, 129);
    border-bottom: 1px solid #e1dddb;
}
div.menu li{
    list-style-type: none;
    text-align: center;
    position: relative;
}
div.menu li > a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: black;
}

.menu ul.sub-menu{
    position: absolute;
    padding: 15px 0;
    background-color: #f4eeeb;
    width: 200px;
    left: 0px;
    border: 1px solid #b7b7b7;
    display: none;
    z-index: 999;
}
.menu li:hover > .sub-menu{
    display: block;
}
.menu ul.sub-menu ul.sub-menu{
    left: 199px;
    top: -12px;
}
.menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 2px solid #a2a2a2;
}
.menu ul.sub-menu li:hover > a{
    border-bottom: 2px solid rgb(73, 73, 73);
    color: red;
}
.menu li > ul.sub-menu li:last-child > a{
    border:none;
    padding-bottom: 0;
    padding-top: 5px;
}
.menu li > ul > li{
    margin-bottom: 10px ;
}
/*Thiết lập border cho after*/
.main-menu > li > a{
    position: relative;
}
.main-menu > li > a::before{
    content: "";
    height: 4px;
    width: 0;
    background: red;
    position: absolute;
    bottom: 0;
    margin-left: -10px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.main-menu > li:hover > a::before{
    width: 100%;
}
.main-menu >li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color:#7e7d7d;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 0;
}

.main-menu .sub-menu > li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color:#7e7d7d;
    position: absolute;
    top: 0;
    right: 0;
    padding: 7px 15px;
}


.subject .image{
    width: 60%;
    margin: 0 auto;  
}
.subject .image img{
    width: 100% ;
}
div.subject{
    display: flex;
    justify-content: space-between;
}
.content-bottom p{
    margin-bottom: 10px;
}
div.content-bottom > div{
    margin-top: 100px;
}
div.content-bottom .image{
    width: 50%;
}
div.content-bottom>img {
    width: 80%;
}
.sign-up{
    width: 30%;
    margin: 0 auto;
}
.sign-up .wrap-1{
    box-shadow: 0px 0px 10px 5px rgb(129, 129, 129);
    border: 1px solid #7e7d7d;
}
.sign-up ul li{
    font-weight: 500;
    padding: 10px 30px;
    position: relative;
    border-bottom: 1px solid #cbcbcb;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sign-up input[type=submit]{
    background-color: #001860;
    width: 90%;
    color: white;
    text-transform: uppercase;
    margin: 20px 5% 30px;
    border-radius: 5px;
    padding: 10px;
}

/*tab*/
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
div.title{
    background-color: #f2f0ef;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
}
.event-image{
    position: relative;
    z-index: -1;
    margin-top: 5rem;
}
.event-image img{
    width: 70%;
}
.event-shape-1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;  
}
.rotated{
    animation-name: rotated;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotated{
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}
.event-shape-2{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -2;
    animation: move 9s linear infinite;
}
@keyframes move{
    0% {
    transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes move-up{
    50%
    {
    transform: translateY(-15px);
    }
    100%
    {
    transform: translateY(0px);
    }
}
.tab-content{
    margin-bottom: 200px;
}
.tab-content .contents{
    width: 45%;
    margin-left: 20px;
}
.contents .content-sub{
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
}
section div.section-title .section-img{
    width: 30%;
    margin-bottom: 50px;
}
.section-title{
    max-width: 750px;
    margin: -6px auto 50px;
    text-align: center;
}
.section-title h2{
    font-size: 35px;
    margin-top: 10px;
    padding: 10px;
}
.single-tutor{
    border: 1px solid  #f8f8fb;
    text-align: center;
    padding: 30px 20px;
    height: 100%;
    background-color: #f2f0ef;
    position: relative;
}
.single-tutor:hover{
    animation: move-up 2s infinite;
}
.one{
    margin-top: -30px;
    margin-bottom: 0;
    margin-right: 1.5rem;
}

.two{
    margin-top: 30px;

}
.three{
    margin-top: -30px;
    margin-right: 1.5rem;
}
.four{
    margin-top: 1.5rem;
}
.single-tutor img{
    width: 20%;
}

.area{
    background-color: #f5f6fa;
}
.container-1{
    width: 80%;
    margin: 0 auto;  
}
.single-achieve {
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
}
.single-achieve:hover{
    animation: move-up 2s infinite;
}
.single-achieve .achieve-shape {
    position: relative;
    margin-bottom: 20px;
}
.achieve-shape_icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: contain;
    padding: 30px;
}
.single-achieve p{
    line-height: 24px;
    text-align: center;
}

#gTTop{
    display: none;
    position: fixed;
    font-size: 20px;
    right: 30px;
    bottom: 40px;
    z-index: 1;
}
#gTTop a{
    text-decoration: none;
    background-color: rgba(248, 84, 56, 0.8);
    color: rgb(32, 177, 225);
    padding: 18.8px 20px;
}
#gTTop a:hover{
    box-shadow: 0px 0px 10px 5px rgb(129, 129, 129);
}

/*footer*/
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: flex-end;
}

.grid-col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
.grid-col-4-0{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
#footer{
    min-height: 150px;
    padding:30px 0px 20px 30px ;
    background-color: black; 
    margin-top: 10px;
    position: relative;
    top: 10px;
    width: 100%;
    z-index: 90;
}
#footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer li{
    list-style-type: none;

}
#footer a{
    text-decoration: none;
    color: #a9b3bb;
}
#footer .footer-list{
    margin-top: 10px;
}

#footer .footer-list-item {
    color: #a9b3bb;
    font-size: 1.4rem;
    line-height: 2.1rem;
    position: relative;
}
#footer .heading{
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
}
.col-lg-6 {
    width: 50%;
}
.col-lg-20{
    width: 20%;
}
.mb-30{
    margin-bottom: 30px;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(108, 105, 105);
    border-radius: 7px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #dedede;
}
/* modal box */
.container-modal
{
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    display: none;
    z-index: 999;
}
.modal{
    background: white;
    max-width: 500px;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
   
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid #dedede;
}
.modal-header h3{
    margin: 0;
}
#btn-close{
    outline: none;
    border: none;
    background: none;
    font-size: 15px;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}
.modal-body{
    padding: 20px 30px;
}