*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    height: 80px;
    background-color: #ece9e9;
    font-size: 1.2rem;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 32px;
}

#nav{
    display: flex;
}


#header .logo img{
    height: 6rem;
}
#header .logo{
  display: flex;
    margin-top: 0;
}

#nav li{
    list-style-type: none;
}

#nav li a {
    color: black;
    line-height: 5rem;
    padding: 0px 3rem;
    display: block;
    font-size: 1.5rem;
}  
#nav > li:hover > a{
    color: blue;
    background-color: #aaa3a3;
    border-bottom: blue solid 3px;
    font-weight: 700;
}
#header #bignav{
    padding-left: 100px;
    display: block;
}
#header #bignav{
    display: block;
}
#header #nav  li :hover{
    background: lightgray;
}
#header .search{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}
#search-box{
    background-color: #fff;
    width: 400px;
    margin-left: 1rem;
    border-radius: 20px;
    width: 300px;
}
#search-box .search-input{
    width: 250px;
    border: none;
    outline: none;
    background: none;
    padding: 7px 15px;
    font-size: 16px;
}

#search-box .search-btn{
    background-color: #fff;
    border: none;
    padding: 9.2px 10px;
    cursor: pointer;
    border-radius: 50%;
}
.content{
    margin: 10px;   
}
.content h1{
    font-size: 2rem;
}
.content h2{
    font-size: 1.6rem;
}
.content h3{
    font-size: 1.4rem;
}
.content p, li{
    font-size: 1.2rem;
}
/*Phan footer*/
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
}

.grid-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid-col-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
.grid-col-4-0{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
#footer{
    min-height: 150px;
    padding:30px 0px 20px 30px ;
    background-color: black; 
    margin-top: 10px;
    position: relative;
    top: 10px;
    width: 100%;
    font-size: 16px;
}
#footer div{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer li{
    list-style-type: none;

}
#footer a{
    text-decoration: none;
    color: #a9b3bb;
}

#footer .footer-list-item {
    color: #a9b3bb;
    font-size: 1rem;
    line-height: 2.1rem;
    position: relative;
    
}
#footer .heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
}
